/**
* This stylesheet contains:
*
* left-container
* right-container
* footer
*/





/*------------------------------------*\
  #LEFT-CONTAINER
\*------------------------------------*/

/**
* These files extend ´.left-container´ in components.css
*/

.left-container {
  background: var(--primary-background);
  color:      var(--primary-font-color);
}

  .icon-text-container__icon {
    display:          flex;
    justify-content:  center;
    align-items:      center;
    color:            var(--primary-background);
    background:       var(--primary-font-color);
    font-size:        2.2222vh;
    font-weight:      bold;
    height:           40px;
    width:            40px;
    border-radius:    9999px;
    margin-right:     16px
  }

  .icon-text-container__text { font-size: 30px }