/**
* This stylesheet contains:
*
* left-container
* right-container and login-box
* footer
*/





/*------------------------------------*\
  #LEFT-CONTAINER
\*------------------------------------*/

/**
* Extend ´.left-container´ in components.css
*/

.left-container {
  height:     800px;
  width:      800px;
}

  .left-container__logo {
    position:       absolute;
    top:            15px;
    left:           30px
  }

  .left-container__icon-text-container {
    padding-left:   60px;
    padding-right:  75px;
    margin:         220px 130px;
    width:          540px;
    height:         360px;
  }





/*------------------------------------*\
  #RIGHT-CONTAINER AND LOGIN-BOX
\*------------------------------------*/

/**
* Extend ´.right-container´ and ´.login-box´ in components.css
*/

.right-container {
  position:   absolute;
  top:        0;
  left:       800px;
  height:     800px;
  width:      800px;
}


.login-box {
  position:       absolute;
  top:            130px;
  left:           930px;
  height:         540px;
  width:          540px;
  padding:        60px;
  padding-bottom: 65px;
}

  .login-box * { display: block }





/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

/**
* Extend ´.footer´ in components.css
*/

.footer { padding: 42px 0; }